<%def name="image(name, value)">
  <div class="image-container ${name}">
    <img src="${value}" alt="..." />
    <div class="caption">
      ... caption ...
    </div>
  </div>
</%def>

<%def name="text(name, value)">
  <div class="text-container ${name}">
    ${value}
  </div>
</%def>

<div class="unit-container ${unit.content_type}" id="${unit.id}">
  % for slot in unit.slots:
    ${getattr(self, slot['type'])(slot['name'], slot['value'])}
  % endfor
</div>
