<%inherit file="base.tmpl" />

<div class="text-and-image">
  ${self.image('image-1')}
  ${self.text('title', 'title-1')}
  ${self.text('sub-title', 'sub-title-1')}
  ${self.text('text', 'text-1')}
</div>
