[submodule "vendor/couchdbkit"]
	path = vendor/couchdbkit
	url = git://github.com/benoitc/couchdbkit.git
[submodule "vendor/tornado"]
	path = vendor/tornado
	url = git://github.com/facebook/tornado.git
[submodule "vendor/py-github"]
	path = vendor/py-github
	url = git://github.com/dustin/py-github.git
