[submodule "vendor/couchdbkit"]
  path = vendor/couchdbkit
  url = git://github.com/benoitc/couchdbkit.git
[submodule "vendor/python-oauth2"]
  path = vendor/python-oauth2
  url = git://github.com/dgouldin/python-oauth2.git
[submodule "vendor/python-github2"]
  path = vendor/python-github2
  url = git://github.com/ask/python-github2.git
[submodule "vendor/python-spreedly"]
  path = vendor/python-spreedly
  url = git://github.com/chrisdrackett/python-spreedly.git
[submodule "vendor/redis-py"]
  path = vendor/redis-py
  url = git://github.com/andymccurdy/redis-py.git
