#editor .tabs .tab-button-container { 
  float: right; 
  margin: 0.4em 0.2em 0 0; 
}
#editor .tabs a {
  cursor: pointer;
} 

#file-menu li {
  float: left;
  padding: 0.5em;
  border-right: 1px dashed grey;
}
a.disabled {
  color: grey;
  text-decoration: none;
  cursor: default;
}
.tabs {
  width: 582px;
  float: left;
}
  .ui-tabs .ui-tabs-panel {
    padding: 0px 0px 0px 5px;
  }
.accordion {
  width: 358px;
  float: right;
}

.preview-container {
  margin: 2em 0px; padding: 1em 0.2em; border-top: 2px dashed black; font-size: 50%;
}
.preview {
  display: none;
}
.sections-list {
  margin-left: 1em;
}