#editor .tabs .tab-button-container { 
  float: right; 
  margin: 0.4em 0.2em 0 0; 
}
#editor .tabs a {
  cursor: pointer;
} 

#file-menu li {
  float: left;
  padding: 0.5em;
  border-right: 1px dashed grey;
}
a.disabled {
  color: grey;
  text-decoration: none;
  cursor: default;
}