#editor .tabs .tab-button-container { 
  float: right; 
  margin: 0.4em 0.2em 0 0; 
}
#editor .tabs a {
  cursor: pointer;
} 

#file-menu li {
  float: left;
  padding: 0.5em;
  border-right: 1px dashed grey;
}
a.disabled {
  color: grey;
  text-decoration: none;
  cursor: default;
}
.tabs {
  width: 582px;
  float: left;
}
  .ui-tabs .ui-tabs-panel {
    padding: 0px 0px 0px 5px;
  }
  .ui-tabs .ui-tabs-hide {
    position: absolute;
    display: block !important;
    margin-left: 8000px;
  }
.accordion {
  width: 358px;
  float: right;
}
.bespin-container {
  width: 574px;
  height: 355px;
  margin-left: 2px;
}
.preview-container {
  margin: 2em 0px; padding: 1em 0.2em; border-top: 2px dashed black; font-size: 50%;
}
.preview {
  display: none;
}
.sections-list {
  margin-left: 1em;
}

.insert-section-helper {
  position: absolute;
  z-index: 9999;
  background: white;
}
