.error {
  color: red;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}


/*
  
  Just to see what's going on
  
  
*/

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode","Lucida Sans", Verdana, Tahoma, sans-serif;
  font-size: 1.1em;
  line-height: 1.2;
}

#accounts-nav {
  color: #ffffff; 
  background-color: #333333; 
  padding: 5px 10px; 
  border-bottom: 2px solid #000000;
}

#accounts-nav li {
  float: left;
}

#accounts-nav a {
  color: #ffffff;
  text-decoration: underline;
}

#header, #main-content {
  padding: 10px 10px 20px; 
}

#auth-menu, #login-menu {
  float: right;
}

#main-menu li {
  float: left;
  border: 1px dashed #333333;
  padding: 5px 10px;
  margin: 5px 5px 5px 0px;
}
#main-menu li.selected {
  border-bottom: none;
}

#footer {
  margin-top: 12em;
  padding: 2em 10px 14em;
  font-size: 60%;
  color: #ffffff; 
  background-color: #333333; 
  border-top: 1px solid #000000;
}

/*
  
  repository UI
  
  
*/
#unselected-container, #selected-container {
  width: 40%; 
  min-height: 500px;
  height:auto !important;
  height:500px;
  border: 1px dashed black;
  padding: 0.5em;
  margin: 1.5em;
}
#selected-container {
  float: right;
}
.repositories-list li {
  padding: 0.5em;
  border: 1px dashed black;
  padding: 0.5em;
  margin: 1.5em;
  text-align: center;
  width: 200px;
  cursor: pointer;
}
.repositories-list li label {
  
}

/*
  
  document UI
  
  
*/
#zoom-bar {
  float: right;
  width: 10%;
}
#inspector {
  float: left;
  width: 30%;
  font-size: 80%;
}
#sections-container {
  float: left;
  width: 50%;
  margin-left: 5%;
  border: 1px solid green;
  min-height:300px;
  height:auto !important;
  height:300px;
}
.blob {
  margin: 6%;
  padding: 4%;
  border: 1px dashed black;
}