<%inherit file="base.tmpl"/>

<%def name="main_menu()">
  <div id="main-menu">
    <ul>
      <%
        items = [
          u'Dashboard'
        ]
      %>
      % for item in items:
        <% 
          path = u'/%s' % item.lower()
        %>
        <li class="${request.path.startswith(path) and 'selected' or ''}">
          <a href="${path}" title="${item}">
            ${item}
          </a>
        </li>
      % endfor
    </ul>
  </div>
</%def>

${next.body()}