<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      thruflo :: ${self.sub_title()}
    </title>
    ${self.headers()}
    ${self.sub_headers()}
  </head>
  <body>
    <div id="outer">
      <div id="inner">
        ${self.super_header()}
        <div id="header">
          % if current_user:
            ${self.auth_menu()}
          % else:
            ${self.login_menu()}
          % endif
          <div id="logo">
            <a href="http://${handler.settings['domain']}" title="thruflo">
              LOGO
              <!--img src="${static_url('img/logo.png')}" /-->
            </a>
          </div>
          <div class="clear">
          </div>
          ${self.main_menu()}
          <div class="clear">
          </div>
        </div>
        <div id="main-content">
          ${next.body()}
        </div>
      </div>
    </div>
    ${self.footer()}
    ${self.super_footer_scripts()}
    ${self.footer_scripts()}
  </body>
</html>

<%def name="sub_title()">...</%def>

<%def name="super_header()">
  % if current_user:
    <div id="accounts-nav">
      <h4>
        Accounts:
      </h4>
      <ul>
        % for item in current_user.accounts:
          <li>
            <a href="http://${item.slug}.${handler.settings['domain']}">
              ${item.slug}
            </a>
          </li>
        % endfor
      </ul>
      <div class="clear">
      </div>
    </div>
  % endif
</%def>

<%def name="headers()" cached="True">
  <meta name="description" content="..." />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet"
      href="${static_url('css/reset.css')}"
  />
  <link type="text/css" rel="stylesheet"
      href="${static_url('css/jquery-ui-1.8.1.custom.css')}"
  />
  <link type="text/css" rel="stylesheet"
      href="${static_url('css/style.css')}"
  />
  <link type="image/ico" rel="icon"
      href="${static_url('img/favicon.ico')}"
  />
  <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
  </script>
  <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js">
  </script>
  <script type="text/javascript" 
      src="${static_url('js/client.js')}">
  </script>
</%def>

<%def name="sub_headers()"></%def>

<%def name="auth_menu()">
  <div id="auth-menu">
    <ul>
      <li>
        Hello ${current_user.username}!
      </li>
      <li>
        <a href="/logout" title="Logout">
          Logout
        </a>
      </li>
    </ul>
  </div>
</%def>

<%def name="login_menu()" cached="True">
  <div id="login-menu">
    <ul>
      <li>
        <a href="/login" title="Login">
          Login
        </a>
      </li>
      <li>
        <a href="/register" title="Register">
          Register
        </a>
      </li>
    </ul>
  </div>
</%def>

<%def name="main_menu()"></%def>

<%def name="footer()" cached="True">
  <div id="footer">
    &copy; James Arthur.
  </div>
</%def>

<%def name="super_footer_scripts()"></%def>

<%def name="footer_scripts()" cached="True">
  <script type="text/javascript">
    // <![CDATA[
      (function () {
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(
            unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"
            )
          );
      })();
    // ]]>
  </script>
  <script type="text/javascript">
    // <![CDATA[
      (function () {
          try {
            var pageTracker = _gat._getTracker("UA-11267780-1");
            pageTracker._setDomainName(document.location.host);
            pageTracker._trackPageview();
          }
          catch(err) {}
      })();
    // ]]>
  </script>
</%def>