<%def name="page()" cached="True">
  <!DOCTYPE html PUBLIC
      "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <link rel="stylesheet" type="text/css"
          href="${static_url('BespinEmbedded-DropIn-0.8.0/BespinEmbedded.css')}"
      />
    </head>
    <body>
      <div id="editor" class="bespin" style="width: 400px; height: 400px"></div>
      <% 
        js_url = static_url('BespinEmbedded-DropIn-0.8.0/BespinEmbedded.js')
        base = '/'.join(js_url.split('/')[:5])
      %>
      <a id="bespin_base" href="${base}"></a>
      <script type="text/javascript" src="${js_url}">
      </script>
    </body>
  </html>
</%def>

${self.page()}