<%inherit file="account.tmpl"/>

<%def name="sub_title()">
  ${handler.account.slug} :: ${handler.context_title}
</%def>

<%def name="add_fields()"></%def>

<%def name="page_content()">
  <h4>
    ${handler.context_title}
  </h4>
  <ul>
    <li>
      <form name="add-${handler.context_type}"
          action="/${handler.context_type}s/add" 
          method="post">
        ${xsrf_form_html()}
        <div class="form-container">
          <h4>
            Create New ${handler.context_title}
          </h4>
          <div class="form-row">
            <div class="error">
              % if errors.has_key('display_name'):
                ${errors['display_name']}
              % endif
            </div>
            <input type="text" name="display_name"
                value="${handler.get_argument('display_name', '')}"
            />
            <label for="display_name">
              ${handler.context_title} name
            </label>
          </div>
          ${self.add_fields()}
          <div class="form-row">
            <input type="submit" 
                value="Create ${handler.context_title}"
            />
          </div>
        </div>
      </form>
    </li>
    % for item in handler.contexts:
      <li>
        <a href="/${handler.context_type}s/${item.slug}"
            title="${item.display_name}">
          ${item.display_name}
        </a>
      </li>
    % endfor
  </ul>
</%def>

${self.page_content()}