<%inherit file="account.tmpl"/>

<%def name="sub_title()">
  ${handler.account.slug} :: 
  ${handler.context_title}s :: 
  ${handler.context.slug}
</%def>

${self.page_content()}

<%def name="page_content()">
  <h4>
    <a href="/${handler.context_type}s" 
        title="${handler.context_title}s">
      ${handler.context_title}s</a>
    / 
    <a href="/${handler.context_type}s/${handler.context.slug}" 
        title="${handler.context_title}s :: ${handler.context.slug}">
      ${handler.context.slug}</a>
  </h4>
  ${self.manage()}
</%def>

<%def name="manage()">
  ... manage form ...
</%def>
