<%inherit file="account.tmpl"/>

<%def name="sub_title()">${handler.current_user.name} :: Dashboard</%def>

${self.page_content()}

<%def name="page_content()">
  <h4>
    Dashboard
  </h4>
  <p>
    ... tbc ...
  </p>
</%def>
