<%inherit file="context.tmpl"/>

<%def name="manage()">
  <div id="zoom-bar">
    zoom
  </div>
  <div id="inspector">
    <div class="tabs">
      <ul>
        <li>
          <a href="#tabs-document">
            Document</a>
        </li>
        <li>
          <a href="#tabs-sections">
            Section</a>
        </li>    
        <li>
          <a href="#tabs-units">
            Unit</a>
        </li>
      </ul>
      <div id="tabs-document">
        <h4>
          Add section:
        </h4>
        <ul>
          % for item in handler.section_types:
            <li id="${item}" class="section-type ui-draggable">
              <a href="#${item}" title="${item.replace('_', ' ').title()}">
                ${item.replace('_', ' ').title()}</a>
            </li>
          % endfor
        </ul>
      </div>
      <div id="tabs-sections">
        % for document_type in handler.document_types_mapping:
          % if document_type == handler.context.document_type:
            % for item in handler.document_types_mapping[document_type]:
              <%
                section_type = item.keys()[0]
                content_types = item.values()
              %>
              <div class="section-type ${section_type}">
                <h3 id="${section_type.replace('_', '-')}">
                  <a href="#${section_type}">
                    ${section_type.replace('_', ' ').title()}</a>
                </h3>
                <div>
                  % for content_type in content_types:
                    <h4>
                      ${content_type.replace('_', ' ').title()}
                    </h4>
                    <ul>
                      <%
                        items = getattr(handler, '%ss' % content_type)
                      %>
                      % for item in items:
                        <li id="${item.doc_type.lower()}--${item.id}"
                            class="content-type ${item.doc_type.lower()} ui-draggable">
                          <a href="/${content_type}/${item.slug}" title="${item.display_name}">
                            ${item.display_name}</a>
                        </li>
                      % endfor
                    </ul>
                  % endfor
                </div>
              </div>
            % endfor
          % endif
        % endfor
      </div>
      <div id="tabs-units">
        
      </div>
    </div>
  </div>
  <div id="sections-container" class="ui-droppable"></div>
</%def>