<%inherit file="context.tmpl"/>

<%def name="render_tree(repo, branch, data)">
  % for folder_name, items in data.get('fs').items():
    <li class="closed">
      <span class="folder">${folder_name}</span>
      % if items.has_key('fs'):
        <ul>
          ${self.render_tree(repo, branch, items)}
        </ul>
      % endif
    </li>
  % endfor
  % for file_name, path in data.get('f').items():
    <li id="${repo}/${branch}/${path}" class="file ui-draggable">
      <span class="file">${file_name}</span>
    </li>
  % endfor
</%def>

<%def name="manage()">
  <div id="zoom-bar">
    zoom
  </div>
  <div id="inspector">
    <div id="repository-browser" class="accordion filetree">
      % for repository in handler.repositories:
        <%
          repo = '/'.join([repository.owner, repository.name])
        %>
        <h3>
          <a href="#">${repository.name}</a>
        </h3>
        <div class="accordion">
          <%
            branches = []
            for item in repository.branches:
                branches.append(item)
            branches = sorted(branches)
            if 'master' in branches:
                branches.remove('master')
                branches.insert(0, 'master')

          %>
          % for branch_name in branches:
            <h3>
              <a href="#">${branch_name}</a>
            </h3>
            <div>
              <ul>
                <%
                  blob_tree = repository.blob_tree.get(branch_name, None)
                %>
                % if blob_tree:
                  ${self.render_tree(repo, branch_name, blob_tree)}
                % endif
              </ul>
            </div>
          % endfor
        </div>
      % endfor
    </div>
  </div>
  <div id="sections-container" class="ui-droppable">
    % for blob in handler.context.get_blobs():
      <div id="${blob.id}" class="blob">
        ${blob.get_data(handler.github)}
      </div>
    % endfor
  </div>
</%def>