<%inherit file="base.tmpl"/>

<%def name="sub_title()">
  ${handler.current_user.name} 
  :: 
  ${handler.repository.name}
</%def>

<%def name="sub_headers()" cached="True">
  <%
    gapis = 'http://ajax.googleapis.com/ajax/libs'
  %>
  % if handler.settings['dev_mode']:
    <link rel="stylesheet" type="text/css"
        href="${gapis}/jqueryui/1.8.2/themes/base/jquery-ui.css"
    />
    <link rel="stylesheet" type="text/css"
        href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" 
    />
  % endif
  <link rel="stylesheet" type="text/css"
      href="${static_url('css/editor.css')}"
  />
  <script type="text/javascript"
      src="${gapis}/jquery/1.4.2/jquery.min.js">
  </script>
  <script type="text/javascript"
      src="${gapis}/jqueryui/1.8.1/jquery-ui.min.js">
  </script>
  <script type="text/javascript" 
      src="${static_url('js/jquery.cookie.js')}">
  </script>
  <script type="text/javascript" 
      src="${static_url('js/jquery.template.js')}">
  </script>
  <script type="text/javascript" 
      src="${static_url('js/jquery.treeview.js')}">
  </script>
  <script type="text/javascript" 
      src="${static_url('js/xregexp.js')}">
  </script>
  <script type="text/javascript" 
      src="${static_url('js/xregexp-unicode-base.js')}">
  </script>
  <script type="text/javascript" 
      src="${static_url('js/xregexp-unicode-categories.js')}">
  </script>
  <script type="text/javascript" 
      src="${static_url('js/showdown.js')}">
  </script>
  <script type="text/javascript" 
      src="${static_url('js/class.js')}">
  </script>
  <script type="text/javascript" 
      src="${static_url('js/thruflo.js')}">
  </script>
</%def>

<%def name="page_content()">
  <h4>
    Editor
  </h4>
  <div id="editor-container">
    <div id="editor">
      <ul id="file-menu">
        <li>
          <a id="add-new-document-link" href="#add">
            Add new document
          </a>
        </li>
        <li>
          <a id="save-document" href="#save">
            Save
          </a>
        </li>
        <li>
          <a id="delete-document" href="#delete">
            Delete
          </a>
        </li>
      </ul>
      <div class="clear">
      </div>
      <div class="tabs">
        <ul id="tabs-bar">
          <!--
          
            <li>
              <a href="#document-:id">
                <div class="tab-button-container">
                  <a href="#close" class="tab-button close">[ x ]</a>
                  <a href="#changed" class="tab-button changed">[ O ]</a>
                </div>
                <div class="filename">:filename</span>
              </a>\
            </li>
          
            ...
          
          -->
        </ul>
        <!--div id="document-:id">
        
        </div-->
      </div>
      <div class="accordion">
        <h3>
          <a href="#">Documents</a>
        </h3>
        <div>
          <ul id="documents-listing" class="resource-listing">
            % for data in handler.documents_list:
              <li id="listing-${data['id']}" 
                  class="listing document-listing">
                <span>
                  <a href="#${data['id']}" title="${data['key'][1]}" 
                      thruflo:rev="${data['value'][0]}"
                      thruflo:mod="${data['value'][1]}">
                    ${data['key'][1]}
                  </a>
                </span>
                <ul class="sections-list">
                </ul>
              </li>
            % endfor
          </ul>
        </div>
        <h3><a href="#">Images</a></h3>
        <div>
          <ul id="images-listing" class="resource-listing">
            <li class="listing image-listing">
              @@ ...
            </li>
          </ul>
        </div>
        <h3><a href="#">Videos</a></h3>
        <div>
          <ul id="videos-listing" class="resource-listing">
            <li class="listing video-listing">
              @@ ...
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</%def>

${self.page_content()}