<%inherit file="base.tmpl"/>

<%def name="sub_title()">Welcome</%def>

${self.page_content()}

<%def name="page_content()" cached="True">
  <h4>
    Welcome
  </h4>
  <p>
    Lorum ipsum ...
  </p>
</%def>
