<%inherit file="base.tmpl"/>

<%def name="sub_title()">Login</%def>

${self.page_content()}

<%def name="page_content()">
  <h4>
    Login
  </h4>
  <p>
    <form name="login-form" action="${handler.settings['login_url']}"
        method="post">
      ${xsrf_form_html()}
      <div class="form-row">
        <div class="error">
          % if errors.has_key('login'):
            ${errors['login']}
          % endif
        </div>
        <input type="text" name="login" 
            value="${handler.get_argument('login', '')}"
        />
        <label for="login">
          Username or email address
        </label>
      </div>
      <div class="form-row">
        <div class="error">
          % if errors.has_key('password'):
            ${errors['password']}
          % endif
        </div>
        <input type="password" name="password"
            value="${handler.get_argument('password', '')}"
        />
        <label for="password">
          Password
        </label>
      </div>
      <div class="form-row">
        <input type="submit" />
      </div>
    </form>
  </p>
</%def>
