<%inherit file="account.tmpl"/>

<%def name="sub_title()">${handler.account.slug} :: Projects</%def>

${self.page_content()}

<%def name="page_content()">
  <h4>
    Projects
  </h4>
  <p>
    ... tbc ...
  </p>
</%def>
