<%inherit file="base.tmpl"/>

<%def name="sub_title()">Register</%def>

${self.page_content()}

<%def name="page_content()">
  <h4>
    Register
  </h4>
  <p>
    <form name="register-form" action="/register" method="post">
      ${xsrf_form_html()}
      <div class="error">
        % if errors.has_key('message'):
          ${errors['message']}
        % endif
      </div>
      <div class="form-container">
        <h4>
          Create your account
        </h4>
        <div class="form-row">
          <div class="error">
            % if errors.has_key('first_name'):
              ${errors['first_name']}
            % endif
          </div>
          <input type="text" name="first_name"
              value="${handler.get_argument('first_name', '')}"
          />
          <label for="first_name">
            First name
          </label>
        </div>
        <div class="form-row">
          <div class="error">
            % if errors.has_key('last_name'):
              ${errors['last_name']}
            % endif
          </div>
          <input type="text" name="last_name"
              value="${handler.get_argument('last_name', '')}"
          />
          <label for="last_name">
            Last name
          </label>
        </div>
        <div class="form-row">
          <div class="error">
            % if errors.has_key('email_address'):
              ${errors['email_address']}
            % endif
          </div>
          <input type="text" name="email_address" 
              value="${handler.get_argument('email_address', '')}"
          />
          <label for="email_address">
            Email
          </label>
        </div>
        <div class="form-row">
          <div class="error">
            % if errors.has_key('time_zone'):
              ${errors['time_zone']}
            % endif
          </div>
          <select name="time_zone">
            <% 
              default = handler.get_argument('time_zone', u'London +00:00')
              parts = default.split(u' ')
              default_item = (parts[1], parts[0])
            %>
            % for item in handler.timezones:
              % if item == default_item:
                <option value="${item[1]} ${item[0]}" selected="true">
                  GMT ${item[0]} ${item[1].replace(u'_', ' ')}
                </option>
              % else:
                <option value="${item[1]} ${item[0]}">
                  GMT ${item[0]} ${item[1].replace(u'_', ' ')}
                </option>
              % endif
            % endfor
          </select>
          <label for="time_zone">
            Timezone
          </label>
        </div>
      </div>
      <div class="form-container">
        <h4>
          Choose a username and password
        </h4>
        <div class="form-row">
          <div class="error">
            % if errors.has_key('username'):
              ${errors['username']}
            % endif
          </div>
          <input type="text" name="username" 
              value="${handler.get_argument('username', '')}"
          />
          <label for="username">
            Username *
          </label>
        </div>
        <div class="form-row">
          <div class="error">
            % if errors.has_key('password'):
              ${errors['password']}
            % endif
          </div>
          <input type="password" name="password"
              value="${handler.get_argument('password', '')}"
          />
          <label for="password">
            Password *
          </label>
        </div>
        <div class="form-row">
          <div class="error">
            % if errors.has_key('confirm'):
              ${errors['confirm']}
            % endif
          </div>
          <input type="password" name="confirm" 
              value="${handler.get_argument('confirm', '')}"
          />
          <label for="confirm">
            Confirm password *
          </label>
        </div>
      </div>
      <div class="form-container">
        <h4>
          Connect your github account:
        </h4>
        <div class="form-row">
          <div class="error">
            % if errors.has_key('github_username'):
              ${errors['github_username']}
            % endif
          </div>
          <input type="text" name="github_username" 
              value="${handler.get_argument('github_username', '')}"
          />
          <label for="github_username">
            Github username
          </label>
        </div>
        <div class="form-row">
          <div class="error">
            % if errors.has_key('github_token'):
              ${errors['github_token']}
            % endif
          </div>
          <input type="text" name="github_token" 
              value="${handler.get_argument('github_token', '')}"
          />
          <label for="github_token">
            Github API token
          </label>
        </div>
      </div>
      <div class="form-row">
        <input type="submit" value="Create my account" />
      </div>
    </form>
  </p>
</%def>
