<%inherit file="contexts.tmpl"/>

<%def name="page_content()">
  <h4>
    ${handler.context_title}
  </h4>
  % for key in ['selected', 'unselected']:
    <div id="${key}-container">
      <h4>
        ${key.title()}
      </h4>
      <ul id="${key}-droppable" class="repositories-list ui-droppable">
        % for item in handler.repositories[key]:
          <li class="ui-draggable">
            <form method="post">
              <div class="form-container">
                ${xsrf_form_html()}
                <input type="hidden" name="name" value="${item.name}" />
                <input type="hidden" name="owner" value="${item.owner}" />
                <input type="hidden" name="url" value="${item.url}" />
                <label>
                  ${item.name}
                </label>
              </div>
            </form>
          </li>
        % endfor
      </ul>
    </div>
  % endfor
</%def>